@import "../css/variables";

/**
 * Landing page
 */

#intro {
  position:relative;

  h2 {
    margin: 0;
  }

  .hyphens {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
  }

  .headline {
    font-family: "Questrial", Roboto, "Helvetica Neue", sans-serif;
    text-align: center;
  }

  .text {
    font-size: 1.8em;
  }

  /**
   * Call to action buttons
   */

  a.cta {
    color: white;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter,transform;
    transition-duration: .15s;
    border-width: 0;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 600;

    &.light {
      background-color: transparent;
      border: 2px solid #fff;
      padding: 16px 46px 14px;
    }

    &.primary {
      background-color: $purple;
      color: white;
      padding: 18px 48px 16px;
    }

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 10px 10px rgba(0,0,0,0.16);
      background-color: white;
      color: $purple;
    }
  }

  .jumbo {
    font-weight: bold;
    font-size: 4.4em;
    margin-bottom: 1em;
  }

  .content {
    max-width: 1000px;
    width: 100%;
    position: relative;

    .block {
      width: 100%;
      text-align: left;
      margin: 0 auto;
      padding-top: 150px;
      padding-bottom: 150px;
      box-sizing: border-box;
      font-weight: 100;
    }
  }

  .concept {
    width: 100%;
    background-color: $black-bg-color;

    &.white {
      background-color: $white-bg-color;
      color: $white-text;

      .headline {
        color: $white-headline;
      }
    }

    &.purple {
      background-color: $light-purple;
      // color: $white-text;

      .headline {
        // color: $white-headline;
      }
    }

    .content {
      span.highlight {
        color: black;
        font-weight: 600;
      }
    }
  }

  /*
    Animate section contents
   */

  .fromTopIn {
    transition: transform 1.0s ease, opacity 1.0s ease;
    transform: translate(0,0);
    opacity: 1.0;
  }

  .fromTopOut {
    transition: transform 1.0s ease, opacity 1.0s ease;

    transform: translate(0,-50px);
    opacity: 0.0;
  }

  .fromBottomIn {
    transition: transform 1.0s ease, opacity 1.0s ease;
    transform: translate(0,0);
    opacity: 1.0;
  }

  .fromBottomOut {
    transition: transform 1.0s ease, opacity 1.0s ease;

    transform: translate(0,50px);
    opacity: 0.0;
  }
}

/**
 * Small + Medium layout
 */

@media only screen and (min-width: 0px) and (max-width: 960px) {
  #intro {
  }
}

/**
 * Small layout
 */

@media only screen and (min-width: 0) and (max-width: 600px) {
  #intro {
    a.cta {
      box-sizing: border-box;
    }

    .text {
      font-size: 1.3em;
    }

    .content {
      .block {
        padding-top: 3.5em;
        padding-bottom: 3.5em;

        .jumbo {
          font-size: 2.3em;
          margin-bottom: 0.5em;
        }
      }
    }
  }
}

/**
 * Browser fixes
 */

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body.firefox {
  #intro {
    .headline {
      -moz-osx-font-smoothing: auto;
      // NB FF also support this
      -webkit-text-stroke: 0.02em;
      letter-spacing: -0.015em;
    }
  }
}

body.safari {
  #intro {
    .headline {
      -webkit-font-smoothing: auto;
      -webkit-text-stroke: 0.04em;
      letter-spacing: -0.01em;
    }

    p {
      -webkit-text-stroke: 0.005em;
    }
  }

  /* iPad */
  @media only screen and (min-width: 601px) and (max-width: 960px) {
    #intro {
      .headline {
        -webkit-text-stroke: 0.025em;
        letter-spacing: -0.02em;
      }
    }
  }


  /* iPhone */
  @media only screen and (min-width: 0) and (max-width: 600px) {
    #intro {
      .headline {
        -webkit-text-stroke: 0.06em;
        letter-spacing: -0.04em;
      }
    }
  }
}

