@import "../css/variables";

/**
 * App
 */

#intro-app {
  background-color: $light-purple-shade;

  .content {
    .headline {
      margin-bottom: 1em;
    }

    .text {
      span.highlight {
        @include font-semi-bold();
        color: $green;
      }
    }
  }
}
