@import "../css/variables";

/**
 * Features
 */

#intro #intro-video {
  &, .concept.top, .concept.bottom {
    background-color: #f2f2f2;
  }

  .top {
    .content .block {
      padding-bottom: 0;

      .headline.jumbo {
        margin-bottom: 0;
        font-size: 4.1em;
      }
    }
  }

  .bottom {
    .block {
      padding-top: 0;
    }
  }

  .headline {
    color: #999;
  }

  .text {
    color: #666;
    text-align: center;
  }
}

/**
 * Small + Medium layout
 */

@media only screen and (min-width: 0px) and (max-width: 960px) {
  .intro-features {
  }
}

/**
 * Small layout
 */

@media only screen and (min-width: 0) and (max-width: 600px) {
  #intro #intro-video {
    .top .content .block .headline.jumbo {
      font-size: 1.8em;
    }
  }
}
