@import "../css/variables";

/**
 * Hero
 */

#intro-hero {
  position: relative;
  min-height: 80vh;
  width: 100%;
  background-color: $black-bg-color;

  div.logo-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2em;
    box-sizing: border-box;
    background: linear-gradient(
      hsl(0, 0%, 0%) 0%,
      hsla(0, 0%, 0%, 0.738) 19%,
      hsla(0, 0%, 0%, 0.541) 34%,
      hsla(0, 0%, 0%, 0.382) 47%,
      hsla(0, 0%, 0%, 0.278) 56.5%,
      hsla(0, 0%, 0%, 0.194) 65%,
      hsla(0, 0%, 0%, 0.126) 73%,
      hsla(0, 0%, 0%, 0.075) 80.2%,
      hsla(0, 0%, 0%, 0.042) 86.1%,
      hsla(0, 0%, 0%, 0.021) 91%,
      hsla(0, 0%, 0%, 0.008) 95.2%,
      hsla(0, 0%, 0%, 0.002) 98.2%,
      hsla(0, 0%, 0%, 0) 100%
    );

    svg.logo {
      width: 180px;
      height: auto;
      $color: white;
      path {
        fill: $color;
      }
      path#text {
        stroke: $color;
      }
    }
  }

  .content {
    width: 100%;
    padding: 2em;
    box-sizing: border-box;
    text-align: center;
    margin: auto auto;

    h1 {
      @include font-semi-bold();
      position: relative;
      font-size: 3.5em;
      line-height: 1.3em;
      letter-spacing: -1px;
      text-align: center;
      margin: 70px auto 30px;
      text-align: center;
      color: #eee;

      span.highlight {
        color: $green;
      }

      div.push {
        margin-top: 0.3em;
      }
    }
  }

  a.scroll {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;

    span {
      position: absolute;
      top: -80px;
      left: 50%;
      width: 24px;
      height: 24px;
      margin-left: -12px;
      border-left: 1px solid #fff;
      border-bottom: 1px solid #fff;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-animation: bounceArrow 1.5s infinite;
      animation: bounceArrow 1.5s infinite;
      box-sizing: border-box;
    }
  }
  @-webkit-keyframes bounceArrow {
    0% {
      -webkit-transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      -webkit-transform: rotate(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
  }
  @keyframes bounceArrow {
    0% {
      transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: rotate(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
  }

  .fadeIn {
    opacity: 0;
    will-change: opacity;
    -webkit-animation: fadeIn 0.7s;
    animation: fadeIn 0.7s ease-out forwards;
    animation-delay: 0.5s;
  }
  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .stop {
    transform: translateX(100%);
    opacity: 0;
    will-change: transform opacity;
    -webkit-animation: slideInLeft 0.3s;
    animation: slideInLeft 0.25s ease-out forwards;
    animation-delay: 1s;
  }
  @-webkit-keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0%);
      opacity: 1;
    }
  }
  @keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0%);
      opacity: 1;
    }
  }

  .push {
    transform: translateX(100%);
    opacity: 0;
    will-change: transform opacity;
    -webkit-animation: slideInRight 0.3s;
    animation: slideInRight 0.25s ease-out forwards;
    animation-delay: 2.3s;
  }
  @-webkit-keyframes slideInRight {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0%);
      opacity: 1;
    }
  }
  @keyframes slideInRight {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0%);
      opacity: 1;
    }
  }
}

/** 
 * Very large layout
 */
@media screen and (min-width: 1400px) {
  #intro-hero {
    .content {
      h1 {
        font-size: 5em;
      }
    }
  }
}

/**
 * Small + Medium layout
 */

@media only screen and (min-width: 0px) and (max-width: 960px) {
  #intro-hero {
    .content {
      height:100%;

      h1 {
        font-size: 4em;

        div.push {
          margin-top: 1em;

          span {
            display: block;
          }
        }
      }
    }
  }
}

/**
 * Small layout
 */

@media only screen and (min-width: 0) and (max-width: 600px) {
  #intro-hero {
    div.logo-wrapper {
      svg.logo {
        width: 160px;
      }

      a.cta.primary {
        padding-top: 14px;
        padding-bottom: 14px;

        span {
          display: none;
        }
      }
    }

    .content {
      height:100%;

      h1 {
        font-size: 2.6em;
        margin-top: 30px;
        margin-bottom: 20px;
      }

      div.logo-wrapper, img.logo {
        width: 120px;
        height: 116.5px;
      }

      img.logo {
        width: 120px;
      }

      img.logo-type {
        width: 90px;
      }
    }
  }
}

/**
 * Tiny layout
 */

@media only screen and (min-width: 0) and (max-width: 375px) {
  #intro-hero {
    div.logo-wrapper {
      svg.logo {
        width: 140px;
      }
    }

    .content {
      h1 {
        font-size: 2.2em;
      }
    }
  }
}
