@import "../css/variables";

/**
 * Personas
 */

#intro-personas {
  position: relative;
  min-height: 100vh;
  background-color: $black-bg-color;

  .content {
    max-width: 1000px;
    width: 100%;

    .block {
      padding-top: 100px;
      padding-bottom: 100px;
    }

    .headline.jumbo {
      font-size: 6em;
      text-align: center;
    }

    .persona {
      margin: 3em 0;
      text-align: center;
    }

    div.sub {
      font-size: 1.6em;
      margin-bottom: 0.5em;
    }

    div.headline {
      display: block;
      font-size: 2.6em;
      color: #fff;
    }

    div.first-time {
      div.sub {
        color: $green;
      }
    }

    div.experienced {
      div.sub {
        color: $light-violet;
      }
    }

    .call-to-action {
      position: relative;
      margin-bottom: 3em;
      text-align: center;

      button.cta {
        padding: 5px 20px;
        border-radius: 33px;

        span {
          font-size: 1.5em;
        }
      }
    }
  }
}

/**
 * Small layout
 */

@media only screen and (min-width: 0) and (max-width: 600px) {
  #intro-personas {
    .content {
      .headline.jumbo {
        font-size: 3.5em;
        margin: 0em 0 0.5em;
      }

      .persona {
        margin: 1em;
      }

      div.sub {
        font-size: 1.5em;
      }

      div.headline {
        font-size: 2.2em;
      }
    }
  }
}
