@import "../css/variables";

/**
 * Practice
 */

#intro-practice {
  background-color: $dark-purple-shade;

  .content {
    ol {
      font-size: 2.6em;
      margin: 0;
      padding: 1.5em 1.5em 1.5em 3em;

      li {
        @include font-semi-bold();
        font-size: 1.3em;
        line-height: 1em;
        text-align: left;
        
        &:first-of-type {
          padding-bottom: 0.3em;
        }

        &.find {
          color: $violet;
          div {
            color: $violet;
          }
        }

        &.deep {
          color: $light-violet;
          div {
            color: $light-violet;
          }
        }

        div {
          display: inline-block;
          vertical-align: text-top;
          margin-left: 0.3em;
          font-size: .5em;
          line-height: 1.3em;
        }

        &:first-of-type {
          margin-bottom: .5em;
        }
      }
    }
  }
}

/**
 * Small + Medium layout
 */

@media only screen and (min-width: 0px) and (max-width: 960px) {
  #intro-practice {
    .content {
      p.highlight {
        padding-left: 0.7em;
        padding-right: 0.7em;
        margin-left: -0.7em;
        margin-right: -0.7em;
      }
    }
  }
}

/**
 * Small layout
 */

@media only screen and (min-width: 0) and (max-width: 600px) {
  #intro-practice {
    .content {
      .text {
        margin-bottom: 1em;
      }

      ol {
        font-size: 2em;
        padding: 1em 1em 1em 2.5em;

        li {
          font-size: 1.3em;

          &:first-of-type {
            padding-bottom: 0.2em;
          }
        }
      }
    }
  }
}

