@import "../css/variables";

/**
 * Practice
 */

#intro-practice {
  position:relative;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  background-color: $black-bg-color;
  box-shadow: inset 0 0 10px #000000;

  .content {
    .practice-time {
      font-size: 2.1em;

      ol {
        border-radius: 4px;
        color: #18FFFF;
        font-weight: 400;
        background: rgba(34,34,51,0.75); // #222233
        padding: 2em 3.5em;
        box-shadow: 0 0 10px #000;

        li {
          &:first-of-type {
            margin-bottom: 1.5em;
          }
        }
      }
    }
  }
}

/**
 * Small + Medium layout
 */

@media only screen and (min-width: 0px) and (max-width: 960px) {
  #intro-practice {
    .content {
      .practice-time {
        p.highlight {
          padding-left: 0.7em;
          padding-right: 0.7em;
          margin-left: -0.7em;
          margin-right: -0.7em;
        }
      }
    }
  }
}

/**
 * Small layout
 */

@media only screen and (min-width: 0) and (max-width: 600px) {
  #intro-practice {
    .content {
      .practice-time {
        font-size: 1.3em;

        ol {
          padding: 1em 1em 1em 2em;

          li {
            &:first-of-type {
              margin-bottom: 1em;
            }
          }
        }
      }
    }
  }
}

