@import "../css/variables";

/**
 * Problem
 */

#intro-problem {
  background: linear-gradient(to bottom, #222233, #1c1c2b);

  .content {
    .headline {
      color: #ebf4ff;
    }

    .text {
      color: #AACCFF;
      text-align: left;
      font-size: 1.3em;
    }
  }
}

/**
 * Small + Medium layout
 */

@media only screen and (min-width: 0px) and (max-width: 960px) {
  #intro-problem {
  }
}

/**
 * Small layout
 */

@media only screen and (min-width: 0) and (max-width: 600px) {
  #intro-problem {
    .content {
      .text {
        text-align: justify;
        margin-left: 0;
        margin-top: 1em;
      }
    }
  }
}
