@import "../css/variables";

@mixin intro-video-dimensions() {
  max-width: 1000px;
  width:100%;
  // NB using a fixed height to prevent container from "jumping" on init
  max-height: 563px;
  min-height: 563px;
}

@mixin intro-video-dimensions-responsive() {
  max-width: 1000px;
  width:100%;
  max-height: 563px;
  min-height: initial;
}

.intro-video {
  position: relative;
  @include intro-video-dimensions();
  background: #fafafa;
  outline: none;
  margin: 2em auto 0;

  .plyr {
    max-width: 1000px;
    width: 100%;
    max-height: 563px;
    height: 100%;
    margin: 0 auto;
    border-radius: 8px;
    -webkit-box-shadow: 0 0 8px rgba(0,0,0,.3);
    box-shadow: 0 0 8px rgba(0,0,0,.3);

    .plyr__video-wrapper {
      background: none;
    }
  }

  .video-player {
    @include intro-video-dimensions();
  }
}

/**
 * "Plyr" player customizations
 */

button.plyr__play-large {
  background: $purple;
  border-color: $purple;
  padding: 20px;

  svg {
    width: 40px;
    height: 40px;
  }

  &:hover {
    cursor: pointer;
    background: $light-purple;
    border-color: $light-purple;
  }
}

.plyr__progress--played, .plyr__volume--display {
  color: $light-purple;
}

.plyr--video .plyr__progress--buffer {
  color: rgba(0, 0, 0, .15);
  background-color: rgba(0, 0, 0, .15);
}

.plyr--video .plyr__controls {
  background: linear-gradient(rgba(256, 256, 256, 0),rgba(256, 256, 256, 1));
  color: #333;
}

.plyr--video .plyr__controls button.tab-focus:focus,
.plyr--video .plyr__controls button:hover {
  background: $light-purple;
}

/**
 * Small + Medium layout
 */

@media only screen and (min-width: 0px) and (max-width: 960px) {
  .intro-video {
    @include intro-video-dimensions-responsive();

    .video-player {
      @include intro-video-dimensions-responsive();
    }
  }
}

/**
 * Small layout
 */

@media only screen and (min-width: 0) and (max-width: 600px) {
  .intro-video {
    .plyr {
      border-radius: 0;
    }
  }
}
