@import './../fonts/fonts.scss';

$intro-block-width: 780px;

$white-text: white;
$black-bg-color: rgb(26,26,26);

// Flowra colors
$white-bg: #fafafa;

// NB purple shades, violet, green are based on #634fed
// See http://htmlcolorcodes.com/color-picker/

$light-purple: #715cff;
$light-purple-shade: #7765EF;
$purple: #634fed;
$dark-purple: #4A3BB2;
$dark-purple-shade: #6755DF;

$light-violet: #DA4FED;
$violet: #8A4FED;

$light-green: #B2FF59;
$green: #4FEDB2;
$dark-green: #4CAF50;

$yellow: #FFEB3B;
$amber: #FFC107;
$red: #F44336;
