$intro-block-width: 780px;

$white-bg-color: rgb(250,250,250);
$white-headline: #111;
$white-text: #333;
$black-bg-color: rgb(26,26,26);

// Deep Orange 900
$dark-red: #BF360C;
// Green A400
$green: #00E676;

// Flowra colors
$purple: #634fed;
$dark-purple: #4A3BB2;
$light-purple: #715cff;
$dark-green: #4CAF50;
$light-green: #B2FF59;
$red: #F44336;
$yellow: #FFEB3B;
$amber: #FFC107;
