@import './base.scss';
@import './variables.scss';

html, button, select, textarea, input {
  @include font-light();
  font-weight: 100;
  font-variant-ligatures: no-common-ligatures;

  // salt: swoosh
  // ss06: alternate a
  // ss11: Cc
  // ss12: Gg
  font-feature-settings: "salt", "ss06", "ss11", "ss12";
}

html, body {
  height:100%;
  color: white;
  background-color: #222233;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p, li {
  font-size: 2em;
  line-height: 1.5em;
}

.invisible {
  visibility: hidden;
}

/**
  * Buttons
  */

.btn {
  text-decoration: none;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/**
 * Flexboxgrid fixes
 */

// https://github.com/kristoferjoseph/flexboxgrid/issues/177
.container-fluid, .container {
  padding: 0!important;

  & > .row {
    margin: 0;
  }
}

/**
 * Small + Medium layout
 */

@media only screen and (min-width: 0px) and (max-width: 960px) {
  #intro {
  }
}

/**
 * Small layout
 */

@media only screen and (min-width: 0) and (max-width: 600px) {
  #intro {
    p, li {
      font-size: 1.1em;
      line-height: 1.5em;
    }
  }
}

/**
 * Browser fixes
 */

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
